.merge .image {
  width: 100px;
  height: 100px;
  display: inline-block;
}

.merge .targets .image {
  margin: 5px 5px;
  cursor: pointer;
  border: 5px solid transparent;
}

.merge .targets .image.t-thumb {
  margin: 5px;
  border-color: #F44336;
}

.merge .sightings {
  float: left;
  width: 200px;
  overflow: hidden;
  padding: 10px;
  box-sizing: border-box;
}

.merge .sightings .sighting {
  width: 100%;
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  min-height: 100px;
  height: 100px;
  cursor: pointer;
}

.merge .sightings .sighting .fact-container {
  display: flex;
  padding: 0 10px;
  flex: 1 1 50%;
  cursor: auto;
  flex-direction: column;
  justify-content: center;
}

.merge .targets {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px;
}

.merge .targets .target {
  width: 85%;
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  padding: 10px;
  min-height: 0;
  position: static;
  overflow: visible;
}

.merge .targets .target .sighting-images {
  display: inline-block;
  flex: 1 1 1px;
  height: 200px;
  overflow-y: auto;
}

.merge .targets .target .facts-emergent {
  margin-top: 15px;
  width: 400px;
}

.merge .targets .target .facts {
  margin: 15px;
}

.merge .targets .target.drag-over {
  background-color: #00FF00;
}

.merge .targets .target.new-target {
  text-align: center;
  padding: 40px 10px;
  font-size: 2em;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
}

.merge .input-field {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.merge .type {
  writing-mode: tb-rl;
  transform: rotate(-180deg);
  text-align: center;
  /* left/right and top/bottom are flipped because of the transform */
  padding-top: 30px;
  margin-left: -5px;
  margin-right: 10px;
  letter-spacing: 2px;
  color: gray;
}

.merge .border {
  height: 80%;
  margin: auto;
  border-right: 1px solid gray;
  margin-right: 5px;
}

.merge .row {
  margin-top: 5px;
}

.merge .hidden {
  display: none;
}
