.merge .image {
  width: 100px;
  height: 100px;
  display: inline-block;
}

.merge .merge-sidebar {
  float: left;
  width: 320px;
  overflow: auto;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  min-height: 600px;
  margin-top: 10px;
}

.merge .merge-sidebar {
  float: left;
  width: 320px;
  overflow: auto;
  padding: 10px;
  box-sizing: border-box;
}

.merge .merge-sidebar .merge-clusters {
  list-style: none;
}

.merge .merge-cluster {
  width: 300px;
  border: 1px solid rgba(0, 0, 0, 25%);
  background-color: white;
  cursor: pointer;
  box-sizing: content-box;
  user-select: none;
}

.merge .merge-cluster .merge-cluster-attributes {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.merge .merge-cluster .merge-cluster-attributes li {
  flex-grow: 1;
  flex-basis: 1;
  padding: 10px;
}

.merge .merge-cluster .merge-cluster-sightings {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.merge .merge-targets {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px;
}

.merge .merge-targets .merge-target {
  width: 100%;
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  padding: 10px;
  min-height: 0;
  position: relative;
  overflow: visible;
  border: 1px solid rgba(0, 0, 0, 25%);
}

.merge .merge-cluster-drop-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  color: grey;

  outline: 2px dashed rgba(0, 0, 0, 25%);
  outline-offset: -10px;

  display: none;
  justify-content: center;
  align-items: center;

  z-index: 1000;
}

.merge .merge-cluster-drop-overlay.active {
  display: flex;
}

.merge .merge-targets .target .merge-target-clusters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.merge .targets .target.new-target {
  text-align: center;
  padding: 40px 10px;
  font-size: 2em;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
}

.merge .input-field {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.merge .merge-target-type {
  writing-mode: tb-rl;
  transform: rotate(-180deg);
  text-align: center;

  margin-right: 10px;
  margin-left: -10px;
  
  /* left/right and top/bottom are flipped because of the transform */
  padding-right: 10px;
  padding-left: 10px;

  width: 2.5em;
  overflow: hidden;
  letter-spacing: 2px;
  text-transform: uppercase;

  border-radius: 0.5em 0 0 0.5em;
}

.merge .merge-target-type.merge-target-type-emergent {
  color: white;
  background-color: red;
}

.merge .merge-target-type.merge-target-type-offaxis {
  color: white;
  background-color: dodgerblue;
}

.merge .merge-target-type.merge-target-type-alphanum {
  border-color: rgba(0, 0, 0, 50%);
  border-style: solid;
  border-width: 1px 0 1px 1px;
}

.merge .merge-target-type.merge-target-type-unsaved {
  color: gray;
  border-color: rgba(0, 0, 0, 25%);
  border-style: solid;
  border-width: 1px 0 1px 1px;
}

.merge .border {
  height: 80%;
  margin: auto;
  border-right: 1px solid gray;
  margin-right: 5px;
}

.merge .row {
  margin-top: 5px;
}

.merge .hidden {
  display: none;
}
