#containerContainer {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
}

#clearButtonContainer {
    padding-bottom: 8px;
    width: 100%;
}

#clearButtonContainer a {
    width: 100%;
}

#container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 1500px
}

.camera,
.gimbal,
.settingsTargets {
    width: 50%;
    padding: 1em;
}

.card {
    margin: 0;
}

h3 {
    margin: 0;
}

.row {
    margin-bottom: 0;
    margin-top: 20px;
}

.smallerRow {
    margin-bottom: 30px;
    margin-top: 5px;
}

.selector {
    margin: 5px;
}

.shape,
.shapeColor,
.letter,
.letterColor {
    display: inline-grid;
    width: 50%;
}
