#containerContainer {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
}

#clearButtonContainer {
    padding-bottom: 8px;
    width: 100%;
}

#clearButtonContainer a {
    width: 100%;
}

#container {
    display: flex;
}

.camera, .gimbal, .targets {
    flex-grow: 1;
    flex-wrap: wrap;
}

.camera {
    padding: 1em;
}

.gimbal {
    justify-content: center;
    padding: 1em 1em 1em 0;
}

.camera > div, .gimbal > div, {
    width: 100%;
}

.card {
    margin: 0;
}

h3 {
    margin: 0;
}

.row {
    margin-bottom: 0;
    margin-top: 20px;
}

.smallerRow {
    margin-bottom:0;
    margin-top: 5px;
}