.data-body {
  display: grid;
  grid-template-columns: 55% 45%;
  margin: 1%;
  background-color: rgb(219, 219, 219);
  border-radius: 10px;
  padding: 1% 1% 1% 2%;
  max-width: 45%;
  max-height: 100%;
  font-size: 15px;

}

.data-body p {
  margin: 0 0 3px 0;
  padding: 1%;
}

.target-info {
  padding: 1% 0% 1% 10%;
}

.ps-data {
  margin: 10px 0 20px 0;
  max-height: 100%;
}

button {
  float:right;
  margin-right:2%;
}