.tag {
  position: absolute;
  top:64px;
  left:0;
  right: 0;
  bottom: 0;
  display: flex;
}

.tag .flex-row {
  position: absolute;
  top: 10px;
  left: 20px;
  bottom: 10px;
  width: 70%;
  height: 50px;
  right: 270px;
  text-align: left;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.tag .flex-row .switch {
    padding-left: 40px;
    width: 120%;
}

.tag .flex-row .switch .thumb {
    display: none;
}

.tag .detect {
  margin-top: 85px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.tag .tools .label {
  display: inline-block;
}

.tag .tools .tool {
  width: 15%;
  display: inline-block;
  margin-top: 22px;
  margin-right: 50px;
}

.tag .tools .btn {
  padding-bottom: 30px;
  display: inline-block;
  bottom: 5px;
}

.tag .tag-image {
  flex: 1 1 auto;
  margin: 10px;
}

.tag .name {
  flex: 0 1 25px;
  margin-left: 10px;
}

.tag .classify {
  border-style: solid;
  border-width: 0 0 0 1px;
  border-color: gray;
}

.tag .sightings {
  padding: 10px;
  float: right;
  width: 350px;
  height: 85%;
  overflow-x: hidden;
  overflow-y: auto; /* want the imageViewer to stay still while the sightings div can scroll */
}

.tag .sighting {
  width: 100%;
  margin-bottom: 10px;
  padding: 0 0 10px 0;
  text-align: center;
  overflow: visible;
  position: static;
}

/* to center off-axis switch */
.tag .switch-outer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 45px;
}

/* for alpha/description input, margins already added by .row */
.tag .sighting .row .input-field {
  margin: 0;
}

.tag .hidden {
  display: none;
}

.tag .count {
  position: fixed;
  bottom: 40px;
  right: 200px;
}

.tag .prev,
.tag .next {
  position: fixed;
  bottom: 20px;
  z-index: 900;
}

.tag .next {
  right: 25px;
}

.tag .prev {
  right: 115px;
}
