.tag {
  position: absolute;
  top:64px;
  left:0;
  right: 0;
  bottom: 0;
  padding: 0;
  text-align: right;
  -webkit-user-select: none;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.tag .tag-image {
  position: absolute;
  top: 0;
  bottom: 30px;
  left: 10px;
  right: 25%;
  width: auto;
  height: auto;
}

.tag .sightings {
  position: relative;
  top: 70px;
  left: 78.25%;
  width: 350px;
  height: 85%;
  overflow-x: hidden;
  overflow-y: auto; /* want the imageViewer to stay still while the sightings div can scroll */
  padding: 0 10px;
}

.tag .sighting {
  width: 100%;
  margin: 10px 0;
  padding: 0 0 10px 0;
  text-align: center;
  overflow: visible;
  position: static;
}

.tag .hidden {
  display: none;
}

.tag .name {
  position: absolute;
  bottom: 0px;
  width: auto;
  left: 10px;
  display: block;
  height: 25px;
}

.tag .count {
  position: fixed;
  bottom: 40px;
  right: 200px;
}

.tag .prev,
.tag .next {
  position: fixed;
  bottom: 20px;
  z-index: 900;
}

.tag .next {
  right: 25px;
}

.tag .prev {
  right: 115px;
}
