/* .confirm {}

.rows {
  display: grid;
  grid-template-rows: auto auto auto auto auto;
}

.target-images {
  column-width: 200px;
  margin: 10px;
}

.tagged-images {
  margin: 10px;
}

.row {
  column-count: 2;
  margin: 10px;
  border: black;
} */
